@import 'bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bebas+Neue&family=Belanosima:wght@600&family=Dancing+Script:wght@500;600;700&family=Dosis:wght@300&family=Lato:wght@300&family=Manrope:wght@500&family=Oswald&family=Quicksand:wght@400;600&family=Raleway:wght@200&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:ital,wght@1,300&family=Ysabeau+SC:wght@300&display=swap');


body {
    background-color:rgb(210, 229, 229);
}

h1 {
    color: rgb(91, 34, 34);
    padding: 50px;
    font-size: 50px;
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(101, 222, 40);
    font-family: 'Lato', sans-serif;
}

a:hover{
    color: rgb(93, 148, 148);
    background-color: white;
    border-radius: 5px;
}