@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orbitron&family=Tourney:ital,wght@1,100&display=swap');


@import "navbar.scss";
@import "footer.scss";

body {
    background-color:rgb(208, 202, 202);
.carousel-inner
{
    width: 100%;
}
    h1 {
        color: rgb(91, 34, 34);
        font-size: 50px;
        font-style: oblique, bold;
        font-family: 'Tourney', sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    h2 {
        color: rgb(91, 34, 34);
        font-size: 40px;
        font-style: oblique;
        font-family: 'Amatic SC', sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    a {
        text-decoration: none;
        padding: 5px;
    }

}
