@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orbitron&family=Tourney:ital,wght@1,100&display=swap');


@import "navbar.scss";
@import "footer.scss";
@import "itemList.scss";
@import "login.scss";

body {
    background-color:rgb(208, 202, 202);
    }

.carousel-inner {
    width: 100%;
}

h1 {
        color: rgb(91, 34, 34);
        font-size: 50px;
        font-style: oblique, bold;
        font-family: 'Tourney', sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

h2 {
        color: rgb(91, 34, 34);
        font-size: 40px;
        font-style: oblique;
        font-family: 'Amatic SC', sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    a {
        text-decoration: none;
        padding: 5px;
    }

    button {
        padding: 3px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 10px;
        border-radius: 5px;
        color:white;
        background-color:rgb(79, 16, 69);
        font-weight: 5px;
        box-shadow: 2px, 0;
    }

    .categories-container {
        display: flex;
        background-color: rgb(79, 16, 69);
        padding: 30px;
        border-radius: 40px;
    }

    ::-webkit-scrollbar {
        height: 12px;
        position: absolute;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(79, 16, 69); /* Colore del cursore della barra di scorrimento */
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgba(79, 16, 69,0.2);;

    }
    
    /* Barra verticale dello scorrimento (stili simili) */
    ::-webkit-scrollbar {
        width: 12px;
    }

