@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Chakra+Petch:wght@300&family=Dhurjati&family=Orbitron&family=Saira+Extra+Condensed:wght@100&family=Tourney:ital,wght@1,100&display=swap');


@import "navbar.scss";
@import "footer.scss";
@import "itemList.scss";
@import "login.scss";
@import "item-annuncio";
@import "/node_modules/flag-icons/css/flag-icons.min.css";


body {
    background-color:rgb(48, 1, 71);
    background-image: url(https://c.wallhere.com/photos/de/ff/portrait_display_vertical_nature_artwork_digital_art_shapes_geometry-1996695.jpg!d);
    background-size: cover;
    margin: 0;
    }

.banner {
    display: flex;
    align-items: center;
}

.img-banner {
max-width: 100%;
opacity: 0.8;
box-shadow: 0 0 15px 0 black;
}

.title-page{
    margin: 0 20px;
    font-weight: bolder;
    font-family: 'Tourney', sans-serif;
    font-size: 25px;
    color: rgb(117, 15, 103);
    font-size: 35px;
}

h1 {
        color: rgb(91, 34, 34);
        font-size: 50px;
        font-style: oblique, bold;
        font-family: 'Tourney', sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

h2 {
        color: rgb(254, 254, 254);
        font-size: 32px;
        font-style: oblique;
        font-family: 'Chakra Petch', sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    

    a {
        text-decoration: none;
        padding: 5px;
        color: white;
    }

    button {
        padding: 3px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 10px;
        border-radius: 5px;
        color:white;
        background-color:rgb(79, 16, 69);
        font-weight: 5px;
        box-shadow: 2px, 0;
    }

    .categories-container {
        display: flex;
        padding: 30px;
        border-radius: 20px;
        max-width: 100%;
        margin:0;
    }

    .card {
        display:block;
        transform: scale(1);
        transition: all .2s linear;
    }

    .card:hover {
        transform: scale(1.1);
    }

    ::-webkit-scrollbar {
        height: 12px;
        position: absolute;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(79, 16, 69); /* Colore del cursore della barra di scorrimento */
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgba(79, 16, 69,0.2);;

    }
    
    /* Barra verticale dello scorrimento (stili simili) */
    ::-webkit-scrollbar {
        width: 12px;
    }

