#chat {
    background-color: rgb(19, 18, 18, 0.8);
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

    button {
        background-color: rgb(64, 22, 106);
        border: 1px solid #ccc;
    }

    img {
        width: 40px;
        border-radius: 50%;
        margin: 0 20px;
    }

    .search-container {
        padding: 0 12px;
    }

    .sidebar {
        border-right: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
        background-color: #f8f9fa;
        overflow-y: auto;
    }

    .chat {
        .avatar img {
            border-radius: 50%;
        }

        #chat-about {
            padding: 20px 0;
        }

        .sendMessage {
            padding: 20px 0;
            border-top: 1px solid #ccc;
        }
        .chat-header {
            border-bottom: 1px solid #ccc;
        }
        .chat-history {
            padding-top: 10px;
            overflow-y: auto;
            height: 600px;
        }
    }

    .sidebar {
        padding: 0;
        color: black;
        background-color: white;
        opacity: 0.9;
        .chat-list {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow-y: auto;
            li {
                margin: 20px 0;
                border-top: 1px solid #ccc;
                padding-top: 20px;
                img {
                    margin-right: 20px;
                }
            }
            li:last-child {
                border-bottom: 1px solid #ccc;
                padding-bottom: 20px;
            }
        }
    }

    .messages {
        list-style: none;
        padding: 0;
        margin: 20px;

        li {
            margin: 40px 0;
            .message-content {
                max-width: 50%;
                div:first-child {
                    padding: 15px;
                    border-radius: 10px;
                    span {
                        color: white;
                        font-weight: 500;
                        overflow-wrap: break-word;
                    }
                }

                .message-time {
                    font-size: 15px;
                    display: flex;
                    justify-content: start;
                    margin: 20px 20px 0 20px;
                }
            }
        }

        .other-message {
            display: flex;
            justify-content: start;
            width: 100%;

            .message {
                background-color: rgb(9, 146, 9);
                border: 1px solid #ccc;
            }
            .message-time {
                justify-content: end;
            }
        }
        .my-message {
            display: flex;
            justify-content: end;
            width: 100%;

            .message {
                background-color: rgb(64, 22, 106);
                border: 1px solid #ccc;
            }
            .message-time {
                justify-content: start;
            }
        }
    }
}
