footer {

<<<<<<< HEAD
   background-color: rgb(152, 150, 157);
=======
   background-color:rgb(79, 16, 69);
>>>>>>> 74043810542ef03ac556193497a2e2cc4de18459
   font-weight: bold;
   
   i {
      font-size: 100%;
   }

   a {
      text-decoration: none;
      font-size: 20px;
      font-weight: bolder;
      color: rgb(101, 222, 40);
      font-family: "Lato", sans-serif;
      border-radius: 5px;
  }

  a:hover {
      color: rgb(93, 148, 148);
      background-color: white;
      border-radius: 5px;
<<<<<<< HEAD
  }
=======
   }

   button {
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 10px;
      border-radius: 5px;
      color:black;
      background-color:rgb(208, 202, 202);
      font-weight: 5px;
      box-shadow: 2px, 0;
   }

   h5 {

      color: black;
   }
   
>>>>>>> 74043810542ef03ac556193497a2e2cc4de18459
}

