#item-list {
    form {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }
    #searchBar {
        input {
            border: none;
            width: 100%;
        }
    }
}
