nav {
    background-color: rgb(96, 74, 236);
    
    img {
        width: 50px;
        margin: 0;
        padding: 0;
    }
    span {
        margin: 0 15px;
        font-weight: bold;
    }


    a {
        color: aliceblue;
    }

    button {
        padding: 3px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 10px;
        border-radius: 5px;
        color:white;
        background-color:gold;
        font-weight: 5px;
        box-shadow: 2px, 0;
    }
    
    .btn-publica {
        background-color: blueviolet;
        
        padding: 10px;
        border-radius: 10%;
    }
}

